.main {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vh;
  }
  
h2 {
  padding: 3vw;
  }

img {
  max-width: 75vw;
}
